.friends-screen__channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: #fff;
}

.friends-screen__channel-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.friends-screen__channel-header span {
  margin-right: 10px;
  font-weight: bold;
  color: #0054a6;
}

.fa-icon {
  font-size: 1.5rem;
  color: #0054a6;
  margin-right: 8px;
}

.fa-chevron-up {
  font-size: 1.5rem;
  color: #0054a6;
}

@media (max-width: 768px) {
  .fa-icon,
  .fa-chevron-up {
    font-size: 1rem;
  }
}

.user-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.user-component__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.user-component__title {
  font-size: 1em;
  color: #0054a6;
  margin: 0;
}

.friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f2f2f2; /* Adjusted to a lighter background */
}

.friends-header h1 {
  font-size: 1.5em;
  color: #0054a6;
  margin: 0;
}

.friends-header .icon {
  font-size: 24px;
  color: #0054a6;
}