@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #ffffff; /* Set background color to white */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* subtle shadow for depth */
  border-bottom: 1px solid #f1f1f1; /* subtle border for a clean line */
}

.screen-header__title {
  font-size: 24px;
  color: #0054a6; /* Keeping the Ajou University blue */
  margin: 0;
  font-weight: 300; /* Lighter font-weight for elegance */
  font-family: 'Roboto', sans-serif; /* Roboto font for a modern look */
  letter-spacing: -0.5px; /* Tighter letter spacing for a polished look */
}

.screen-header__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.screen-header__icons .svg-inline--fa {
  color: #0054a6; /* Keeping the Ajou University blue */
  cursor: pointer; /* Indicates that icons are clickable */
}

/* Style adjustments for FontAwesome icons */
.svg-inline--fa {
  height: 1.5em; /* Match the size of the icon to the text */
  width: 1.5em;
}

/* Additional styles for hover effects on icons for interactivity */
.screen-header__icons .svg-inline--fa:hover {
  color: #003973; /* A darker shade of blue for hover state */
}