.user-component {
  display: flex;
  background-color: #fff;
}

.user-component:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.user-component__avatar {
  object-fit: cover;
  margin-right: 12px;
}

.user-component__name {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.user-component__title {
  font-size: 1em;
  color: #0054a6;
  margin: 0;
  padding-right: 8px; 
}

.user-component__subtitle {
  font-size: 0.75em;
  color: #646464;
  margin: 0;
}

.user-component__additional {
  margin-left: auto;
  display: flex;
  align-items: center;
}