.friends-list-container {
  overflow-y: auto;
  padding-bottom: 50px;
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

.friends-count {
  font-size: 1em;
  color: #646464;
}

.friends-list-title {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #848484;
}

.user-component-container {
  position: relative;
  padding-right: 40px;
}

.add-friend-icon {
  position: absolute;
  margin-right: 1px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.additional-content-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;

  position: absolute;
  &:hover {
    color: #0056b3;
  }
}

.search-box {
  position: relative;
  margin-left: 30px;
  margin-top: 10px;
  width: 250px;
  height: 52px;
  background: #ececec;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 45px;
}

.search-icon {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 5px;
  background-size: contain;
  margin-bottom: 24px;
}

.search-input {
  width: calc(100% - 20px);
  height: 48px;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 48px;
  color: #8c8c8c;
  background-color: transparent;
  margin-left: 10px;
  padding: 0;
}
